<%- include("../partials/header.ejs") %>
  <div class="col px-0">
    <% if(error && error.length>0){ %>
      <div class='alert alert-danger' role='alert'>
          <%= error %>
      </div>
      <% } %>
          <% if(success && success.length>0){ %>
              <div class='alert alert-success' role='alert'>
                  <%= success %>
              </div>
              <% } %>
    <div class="container-fluid px-0 bg-dark">
      <div class="d-flex px-5 py-5">
        <img class="songinfo--img song--img__data" src="<%= songinfo.image %>">
        <div class="songkit">
          <div class="songkit--up mt-2">
            <p class="songkit--up__name song--name__data text-white mb-0">
              <%= songinfo.name %>
            </p>
            <a class="songkit--up__name song--name__data text-white mb-0 hidden song--link__card" href="/song/<%= songinfo.id %>">
              <%= songinfo.name %>
            </a>
            <a class="songkit--up__artist song--artist__data" href="/artist/<%= songinfo.artist.id %>">
              <%= songinfo.artist.name %>
            </a>
          </div>
          <div class="songkit--down mt-3 d-flex">
            <a>
              <img class="icon--img float-end mt-1" src="/image/icons/play-button.png" id="card--playicon">
              <audio id="card--audio" preload="metadata">
                <source src="<%= songinfo.source %>" type="audio/mp3">
              </audio>
            </a>
            <% if(currentUser) { %>
              <% if(usersong.includes(songinfo.id)){ %>
                <form action="/user/unfavourite/<%= songinfo.id %>" method="post" class="d-inline">
                  <button class="mx-3 bg-transparent border-0">
                    <img class="favbtn-click my-1" src="/image/icons/fav-click2.png">
                  </button>
                </form>
                <% } else { %>
                  <form action="/user/favourite/<%= songinfo.id %>" method="post" class="d-inline">
                    <button class="mx-3 bg-transparent border-0">
                      <img class="favbtn my-1" src="/image/icons/fav.png">
                    </button>
                  </form>
                  <% } %>
                    <% } else { %>
                      <form action="/user/favourite/<%= songinfo.id %>" method="post" class="d-inline">
                        <button class="mx-3 bg-transparent border-0">
                          <img class="favbtn my-1" src="/image/icons/fav.png">
                        </button>
                      </form>
                      <% } %>
                        <div class="dropdown d-inline">
                          <button class="btn btn-secondary dropdown bg-transparent border-0" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-ellipsis-vertical main-menu ellipsis-songid my-1"></i>
                          </button>
                          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                            <li><a class="card--sub__menu dropdown-item">Add to queue</a></li>
                          </ul>
                        </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid row g-5 py-3 mbuttom">
      <div class="col-md-8">
        <table class="table text-white">
          <tbody>
            <tr>
              <th>
                <span class="lyric-head">Lyrics</span>
                <div class="lyric d-flex">
                  <%= songinfo.lyric %>
                </div>
              </th>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-4 mbottom">
        <div class="" style="top: 2rem;">
          <div class="py-5 mb-3 rounded">
            <div class="d-flex justify-content-between">
              <h4 class="px-4 text-white">Recommended</h4>
            </div>
            <table class="table text-white">
              <tbody>
                <% recommend.slice(0,3).forEach(function(recommend){ %>
                  <tr>
                    <th class="card shadows">
                      <div class="d-flex">
                        <a class=" text-decoration-none" href="/song/<%= recommend._id %>">
                          <img class="songimg" src="<%= recommend.image %>">
                          <div class="pt-2">
                            <span class="song--name d-block">
                              <%= recommend.name %>
                            </span>
                            <a class="song--artist" href="/artist/<%= recommend.artist.id %>">
                              <%= recommend.artist.name %>
                            </a>
                          </div>
                        </a>
                      </div>
                    </th>
                  </tr>
                  <% }) %>
              </tbody>
            </table>

            <div class="d-flex justify-content-between">
              <h4 class="px-4 text-white">Other Song</h4>
            </div>
            <table class="table text-white">
              <tbody>
                <% othersong.forEach(function(othersong){ %>
                  <tr>
                    <th class="card shadows">
                      <div class="d-flex">
                        <a class=" text-decoration-none" href="/song/<%= othersong._id %>">
                          <img class="songimg" src="<%= othersong.image %>">
                          <div class="pt-2">
                            <span class="song--name d-block">
                              <%= othersong.name %>
                            </span>
                            <a class="song--artist" href="/artist/<%= songinfo.artist.id %>">
                              <%= othersong.artist.name %>
                            </a>
                          </div>
                        </a>
                      </div>
                    </th>
                  </tr>
                  <% }) %>
              </tbody>
            </table>

            <div class="d-flex justify-content-between">
              <h4 class="px-4 text-white">Other Artist</h4>
              <a class="seeall" href="/artist">see all</a>
            </div>
            <table class="table text-white">
              <tbody>
                <% otherartist.forEach(function(otherartist){ %>
                  <tr>
                    <th class="card shadows">
                      <div class="d-flex">
                        <a class=" text-decoration-none" href="/artist/<%= otherartist._id %>">
                          <img class="artistimg" src="<%= otherartist.image %>">
                          <span class="artist--name d-inline">
                            <%= otherartist.name %>
                          </span>
                        </a>
                      </div>
                    </th>
                  </tr>
                  <% }) %>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>


  </div>


  <%- include("../partials/footer.ejs") %>