<%- include("partials/header.ejs") %>
    <div class="col p-0 mbuttom">
        <div class="container-fluid px-0 bg-favourite">
            <div class="px-5 py-4 text-center d-block">
                <h1 class="text-white text-reflect">FAVOURITE SONGS</h1>
            </div>
        </div>
            <table class="table searchbg text-white text-center mb-0">
                <% if(usersong.length> 0){ %>
                    <thead>
                      <tr>
                        <th scope="col" class="shadows">
                          Title
                        </th>
                        <th scope="col" class="shadows">
                          Artist
                        </th>
                        <th scope="col" class="shadows">
                          Album
                        </th>
                        <th scope="col" class="shadows">
                          <i class="fa-solid fa-clock"></i>
                        </th>
                      </tr>
                    </thead>
                    <% } %>
                <tbody>
                    <% usersong.forEach(function(usersong){ %>
                        <tr class="shadows">
                            <td>
                                <div class="d-flex">
                                    <img class="songimg-admin song--img__data" src="<%= usersong.image %>">
                                    <a class="pt-4 mx-4 text-white text-decoration-none song--name__data"
                                        href="/song/<%= usersong._id %>">
                                        <%= usersong.name %>
                                    </a>
                                </div>
                            </td>
                            <td>
                                <div class="pt-4">
                                    <a class="text-white text-decoration-none song--artist__data"
                                        href="/artist/<%= usersong.artist.id %>">
                                        <%= usersong.artist.name %>
                                    </a>
                                </div>
                            </td>
                            <td>
                                <div class="pt-4">
                                    <a class="text-white text-decoration-none" href="/album/<%= usersong.album.id %>">
                                        <%= usersong.album.name %>
                                    </a>
                                </div>
                            </td>
                            <td>
                                <div class="pt-4">
                                    <span id="songduration">

                                    </span>
                                </div>
                            </td>
                            <td>
                                <div class="option my-4 mx-2">
                                    <% if(!currentUser){ %>
                                        <a href="/login" class="text-decoration-none star-color">
                                            <i class="fa-solid fa-play"></i>
                                        </a>
                                        <a id="table--playicon">
                                            <audio id="table--audio" preload="metadata">
                                                <source src="<%= usersong.source %>" type="audio/mp3">
                                            </audio>
                                        </a>
                                        <% } else { %>
                                            <a>
                                                <i class="fa-solid fa-play" id="table--playicon"></i>
                                                <audio id="table--audio" preload="metadata">
                                                    <source src="<%= usersong.source %>" type="audio/mp3">
                                                </audio>
                                            </a>
                                            <% } %>
                                                <form action="/user/unfavourite/<%= usersong.id %>" method="post"
                                                    class="d-inline">
                                                    <button class="mx-3 bg-transparent border-0">
                                                        <i class="fa-solid fa-star mx-3 starbg"></i>
                                                    </button>
                                                </form>
                                                <i class="fa-solid fa-ellipsis-vertical"></i>
                                </div>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
    </div>
    <%- include("partials/footer.ejs") %>