<%- include("../partials/header.ejs") %>
    <div class="modal fade text-start" id="edit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header bg-info">
                    <h5 class="modal-title text-black" id="exampleModalLabel">Edit Profile
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-black text-left">
                    <form action="/user/<%= user._id %>/edit?_method=PUT" method="POST" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label class="form-label">Firstname</label>
                            <input type="text" class="form-control" name="firstname" placeholder="<%= user.firstname %>"
                                value="<%= user.firstname %>">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Lastname</label>
                            <input type="text" class="form-control" name="lastname" placeholder="<%= user.lastname %>"
                                value="<%= user.lastname %>">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Email</label>
                            <input type="text" class="form-control" name="email" placeholder="<%= user.email %>"
                                value="<%= user.email %>">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Image</label>
                            <img src="<%= user.image %>" height="100px" class="mb-3">
                            <input type="file" class="form-control" name="image" accept='image/*'>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save
                                changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <% let countadmin = 0 %>
    <% allUser.forEach(function(allUser){ %>
        <% if(allUser.isAdmin === true){ %>
            <% countadmin++ %>
        <% } %>
    <% }) %>
    <div class="col my-4">
    <% if(error && error.length>0){ %>
        <div class='alert alert-danger' role='alert'>
            <%= error %>
        </div>
        <% } %>
            <% if(success && success.length>0){ %>
                <div class='alert alert-success' role='alert'>
                    <%= success %>
                </div>
                <% } %>
        <% if(currentUser && !currentUser.isAdmin){ %>
            <div class="container">
                <div class="row gutters">
                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                        <div class="card profilebg text-white">
                            <div class="card-body">
                                <div class="account-settings">
                                    <div class="user-profile">
                                        <div class="user-avatar">
                                            <img src="<%= user.image %>">
                                        </div>
                                        <h5 class="user-name">
                                            <%- user.firstname + ' ' + user.lastname %>
                                        </h5>
                                        <p class="username text-white">
                                            <i class="fa-solid fa-envelope"></i>
                                            <a class="email" href="mailto: <%= user.email %>">
                                                <%= user.email %>
                                            </a>
                                        </p>
                                        <button type="button" class="x" data-bs-toggle="modal" data-bs-target="#edit">
                                            <span>
                                                <i class="fa-solid fa-pen-to-square"></i>
                                            </span>
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                        <div class="card profilebg text-white mbuttom">
                            <div class="card-body scrolluser">
                                <div class="row gutters">
                                    <div class="col-xl-12 col-lg-6 col-md-12 col-sm-12 col-12">
                                        <h3 class="mb-2 text-white d-inline">Favourite Songs</h3>
                                        <a href="/favourite" class="float-end mt-2 fav-page">Full Page --></a>
                                        <hr>
                                    </div>
                                </div>
                                <% if(usersong.length <= 0){ %>
                                    <h3 class="text-center no-fav">
                                        No Favourite Song Here!
                                    </h3>
                                    <div class="find-song d-block mt-5">
                                      <a class="text-white text-center click-here text-decoration-none" href="/">
                                        FIND YOUR SONG!
                                        </a>   
                                    </div>
                                <% } else { %>
                                <div class="album py-4">
                                    <div class="container-fluid">
                                        <div class="row row-cols-2 row-cols-sm-3 row-cols-md-5 g-4">
                                            <% usersong.forEach(function(usersong){ %>
                                                <div class="col">
                                                    <div class="card shadows shadow-lg">
                                                        <div class="card-body">
                                                            <a class="text-decoration-none"
                                                                href="/song/<%= usersong._id %>">
                                                                <div>
                                                                </div>
                                                                    <img class="song--img song--img__data"
                                                                        src="<%= usersong.image %>">
                                                                    <form action="/user/unfavourite/<%= usersong.id %>"
                                                                        method="post" class="d-inline">
                                                                        <button class="bg-transparent border-0 float-end mt-2">
                                                                            <i class="fa-solid fa-star starbg "></i>
                                                                        </button>
                                                                    </form>
                                                                
                                                                <div>
                                                                    <p class="song--name text-white song--name__data">
                                                                        <%= usersong.name %>
                                                                    </p>
                                                                    <a class="song--artist song--artist__data"
                                                                        href="/artist/<%= usersong.artist.id %>">
                                                                        <%= usersong.artist.name %>
                                                                    </a>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <% }) %> 
                                        </div>
                                    </div>
                                </div>
                                <% } %>
                            </div>
                            <% } else { %>
                                <div class="container">
                                    <div class="row gutters">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <div class="card profilebg text-white">
                                                <div class="card-body">
                                                    <div class="account-settings">
                                                        <div class="user-profile">
                                                            <div class="user-avatar">
                                                                <img src="<%= user.image %>">
                                                            </div>
                                                            <h5 class="user-name">
                                                                <%- user.firstname + ' ' + user.lastname %>
                                                            </h5>
                                                            <p class="username text-white">
                                                                <i class="fa-solid fa-envelope"></i>
                                                                <a class="email" href="mailto: <%= user.email %>">
                                                                    <%= user.email %>
                                                                </a>
                                                            </p>
                                                            <button type="button" class="x" data-bs-toggle="modal"
                                                                data-bs-target="#edit">
                                                                <span>
                                                                    <i class="fa-solid fa-pen-to-square"></i>
                                                                </span>
                                                            </button>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <div class="card profilebg">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                            <div class="container-fluid">
                                                                <section>
                                                                  <div class="row">
                                                                    <div class="col-xl-6 col-sm-12 col-12 my-2">
                                                                    <a href="/user/remove" class="text-black text-decoration-none">
                                                                      <div class="card">
                                                                        <div class="card-body">
                                                                          <div class="d-flex justify-content-between">
                                                                            <div class="align-self-center">
                                                                              <i class="fa-solid fa-users text-warning fa-3x"></i>
                                                                            </div>
                                                                            <div class="text-end">
                                                                              <h3><%= allUser.length - countadmin %></h3>
                                                                              <p class="mb-0">Users</p>
                                                                            </div>
                                                                          </div>
                                                                        </div>
                                                                      </div>
                                                                    </a>
                                                                    </div>
                                                                    <div class="col-xl-6 col-sm-12 col-12 my-2">
                                                                        <a href="/song/remove" class="text-black text-decoration-none">
                                                                            <div class="card">
                                                                                <div class="card-body">
                                                                                  <div class="d-flex justify-content-between px-md-1">
                                                                                    <div class="align-self-center">
                                                                                        <i class="fa-brands fa-soundcloud text-info fa-3x"></i>
                                                                                      </div>
                                                                                    <div class="text-end">
                                                                                      <h3><%= allSong.length %></h3>
                                                                                      <p class="mb-0">Songs</p>
                                                                                    </div>
                                                                                  </div>
                                                                                </div>
                                                                              </div>
                                                                            </a>
                                                                      </div>
                                                                      <div class="col-xl-6 col-sm-12 col-12  my-2">
                                                                        <a href="/artist/remove" class="text-black text-decoration-none">
                                                                        <div class="card">
                                                                          <div class="card-body">
                                                                            <div class="d-flex justify-content-between">
                                                                              <div class="align-self-center">
                                                                                <i class="fa-brands fa-napster text-success fa-3x"></i>
                                                                              </div>
                                                                              <div class="text-end">
                                                                                <h3><%= allArtist.length %></h3>
                                                                                <p class="mb-0">Artists</p>
                                                                              </div>
                                                                            </div>
                                                                          </div>
                                                                        </div>
                                                                        </a>
                                                                      </div>
                                                                    <div class="col-xl-6 col-sm-12 col-12  my-2">
                                                                    <a href="/album/remove" class="text-black text-decoration-none">
                                                                      <div class="card">
                                                                        <div class="card-body">
                                                                          <div class="d-flex justify-content-between">
                                                                            <div class="align-self-center">
                                                                                <i class="fa-brands fa-algolia text-danger fa-3x"></i>
                                                                            </div>
                                                                            <div class="text-end">
                                                                              <h3><%= allAlbum.length %></h3>
                                                                              <p class="mb-0">Albums</p>
                                                                            </div>
                                                                          </div>
                                                                        </div>
                                                                      </div>
                                                                    </a>
                                                                    </div> 
                                                                </section>
                                                              </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                           
                                        </div>
                                    </div>
                                    <% } %>
                                </div>
<% if(currentUser && !currentUser.isAdmin){ %>
    <%- include("../partials/footer.ejs") %>
<% } else { %>
    <%- include("../partials/LRfooter.ejs") %>
<% } %>