<%- include("../partials/header.ejs") %>
<% let count=1 %>
<div class="col mbuttom px-0">
    <div class="container-fluid bg-dark">
        <div class="d-flex px-5 py-4">
            <img class="artistinfo--img" src="<%= artist.image %>">
            <div class="songkit">
                <div class="artistkit--up">
                    <p class="artistkit--up__name text-white mb-0"><%= artist.name %></p>
                    <p class="artistkit--up__artist m-0">Artist</p>
                    <p class="songcount"><%= artistsong.length %> songs</p>
                </div>
                <div class="songkit--down">
                    <a href="#">
                        <img class="playbtn" src="/image/icons/play.png">
                    </a>
                </div>
            </div>
        </div>
    </div>
   
        <div class="container-fluid my-3 px-5">
            <table class="table text-white">
                <tbody>
                    <% artistsong.forEach(function(artistsong){ %>
                          <tr class="shadows">
                            <th>
                                <div class="d-flex">
                                    <span class="songorder d-block pt-4"><%= count %></span>
                                    <% count++ %>
                                    <img class="songimg song--img__data" src="<%= artistsong.image %>">
                                    <a class="pt-4 text-white text-decoration-none  song--name__data" href="/song/<%= artistsong.id %>">
                                        <%= artistsong.name %>
                                    </a>
                                    <a class="pt-4 text-white text-decoration-none song--artist__data hidden">
                                      <%= artistsong.artist.name %>
                                  </a>
                                </div>
                            </th>
                            <td>
                                <div class="option my-4 mx-2">
                                      <a>
                                        <i class="fa-solid fa-play" id="table--playicon"></i>
                                        <audio id="table--audio" preload="metadata">
                                          <source src="<%= artistsong.source %>" type="audio/mp3">
                                        </audio>
                                      </a>
                                    <% if(currentUser) { %>
                                      <% if(usersong.includes(artistsong.id)){ %>
                                    <form action="/user/unfavourite/<%= artistsong.id %>" method="post" class="d-inline">
                                        <button class="mx-3 bg-transparent border-0"> 
                                          <i class="fa-solid fa-star mx-3 starbg"></i>
                                        </button>
                                    </form>
                                    <% } else { %>
                                      <form action="/user/favourite/<%= artistsong.id %>" method="post" class="d-inline">
                                        <button class="mx-3 bg-transparent border-0"> 
                                          <i class="fa-solid fa-star mx-3"></i>
                                        </button>
                                    </form>
                                    <% } %>
                                    <% } else { %>
                                      <form action="/user/favourite/<%= artistsong.id %>" method="post" class="d-inline">
                                        <button class="mx-3 bg-transparent border-0"> 
                                          <i class="fa-solid fa-star mx-3"></i>
                                        </button>
                                    </form>
                                    <% } %>
                                    <i class="fa-solid fa-circle-plus"></i>
                                </div>
                            </td>
                          </tr>
                    <% }) %>
                        </tbody>
              </table>
        </div>
        
        <div class="album py-4">
            <div class="container-fluid">
              <h1 class="text-white text-center">
                <% if(count === 1){ %>
                  Artist has no song record
                <% } %>
                </h1>
              <div class="d-flex">
                <% if(album.length >= 1){ %>
                 <h1 class="category">Album by <%= artist.name %></h1>
                 <% } %>  
              </div>
              <div class="row row-cols-3 row-cols-sm-3 row-cols-md-6 g-4">
                <% album.forEach(function(album){ %>
                  <div class="col">
                    <div class="card shadows shadow-lg">
                      <div class="card-body">
                        <a class="text-decoration-none" href="/album/<%= album._id %>">
                          <div>
                            <img class="album--img" src="<%= album.image %>">
                            <a href="#">
                              <img class="icon--img float-end mt-1" src="/image/icons/play-button.png">
                            </a>
                          </div>
                          <p class="album--name text-white">
                            <%= album.name %>
                          </p>
                          <a class="album--album d-block" href="/artist/<%= album.artist.id %>">
                            <%= artist.name %>
                          </a>
                        </a>
                      </div>
                    </div>
                  </div>
                  <% }) %>
              </div>
            </div>
        </div>




<%- include("../partials/footer.ejs") %>