<%- include("../partials/artistheader.ejs") %>
<div class="col pt-4 mbuttom">
  <div class="album">
    <div class="container-fluid">
      <div class="row row-cols-3 row-cols-sm-3 row-cols-md-6 g-4">
        <% artist.reverse().forEach(function(artist){ %>
          <div class="col">
            <div class="card shadows shadow-lg">
              <div class="card-body">
                <a class="text-decoration-none" href="/artist/<%= artist._id %>">
                  <img class="artist--img" src="<%= artist.image %>">
                  <p class="artist--name text-white text-center">
                    <%= artist.name %>
                  </p>
                </a>
              </div>
            </div>
          </div>
          <% }) %>
      </div>
    </div>
</div>

<%- include("../partials/footer.ejs") %>