<%- include("../partials/header.ejs") %>
<% let count=1 %>
<div class="col px-0">
    <div class="container-fluid px-0 bg-dark">
        <div class="d-flex px-5 py-4">
            <img class="artistinfo--img" src="<%= artist.image %>">
            <div class="songkit">
                <div class="artistkit--up">
                    <p class="artistkit--up__name text-white mb-0"><%= artist.name %></p>
                    <p class="artistkit--up__artist m-0">Artist</p>
                    <p class="songcount"><%= artistsong.length %> songs</p>
                </div>
                <div class="songkit--down">
                    <a href="#">
                        <img class="playbtn" src="/image/icons/play.png">
                    </a>
                </div>
            </div>
        </div>
    </div>
   
        <div class="container-fluid my-3 px-5">
            <table class="table text-white">
                <tbody>
                    <% artistsong.forEach(function(artistsong){ %>
                          <tr>
                            <th>
                                <div class="d-flex">
                                    <span class="songorder d-block pt-4"><%= count %></span>
                                    <% count++ %>
                                    <img class="songimg" src="<%= artistsong.image %>">
                                    <a class="pt-4 text-white text-decoration-none" href="/song/<%= artistsong.id %>">
                                        <%= artistsong.name %>
                                    </a>
                                </div>
                            </th>
                            <td>
                                <div class="option">
                                    <img class="p-2" src="/image/icons/play-button.png"  width="40px">  
                                    <img class="p-2" src="/image/icons/fav.png"  width="40px">
                                    <img class="p-2" src="/image/icons/plus.png"  width="40px">
                                </div>
                            </td>
                          </tr>
                    <% }) %>
                        </tbody>
              </table>
        </div>
        
        <div class="album py-4">
            <div class="container-fluid">
              <h1 class="text-white text-center">
                <% if(count === 1){ %>
                  Artist has no song record
                <% } %>
                </h1>
              <div class="d-flex">
                <% if(album.length >= 1){ %>
                 <h1 class="category">Album by <%= artist.name %></h1>
                 <% } %>  
              </div>
              <div class="row row-cols-1 row-cols-sm-2 row-cols-md-6 g-3">
                <% album.forEach(function(album){ %>
                  <div class="col">
                    <div class="card shadow-lg">
                      <div class="card-body">
                        <a class="text-decoration-none" href="/album/<%= album._id %>">
                          <img class="album--img" src="<%= album.image %>">
                          <p class="album--name text-white">
                            <%= album.name %>
                          </p>
                          <p class="album--album d-inline">
                            <%= artist.name %>
                          </p>
                        </a>
                      </div>
                    </div>
                  </div>
                  <% }) %>
              </div>
            </div>
        </div>




<%- include("../partials/footer.ejs") %>