<%- include("../partials/header.ejs") %>
<% let count=1 %>
<div class="col pt-4">
    <div class="container-fluid">
        <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link" href="/song/remove">Songs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link  active" aria-current="page" href="/artist/remove">Artists</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/album/remove">Albums</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/remove">User</a>
            </li>
        </ul>
        <table class="table text-white pt-4 text-center">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>
            <% allArtist.forEach(function(allArtist){ %>
              <tr class="shadow-bg">
                <th class="pt-4"><%= count %></th>
                <% count++ %>
                <td>
                  <div class="d-flex">
                    <img class="artistimg-admin" src="<%= allArtist.image %>">
                    <p class="pt-4 mx-4 text-white text-decoration-none">
                      <%= allArtist.name %>
                    </p>
                  </div>
                </td>
                <td>
                    <div class="btn-group pt-4">
                      <button type="button" class="btn btn-sm btn-outline-info">Edit</button>
                      <button type="button" class="btn btn-sm btn-outline-danger">Delete</button>
                    </div>
                </td>
              </tr>
            <% }) %>
          </tbody>
        </table>
    </div>
</div>

<%- include("../partials/footer.ejs") %>