<%- include("../partials/header.ejs") %>
    <% let count=1 %>
        <div class="col px-0 mbuttom">
            <div class="container-fluid px-0 bg-dark">
                <div class="d-flex px-5 py-4">
                    <img class="albuminfo--img" src="<%= album.image %>">
                    <div class="songkit">
                        <div class="artistkit--up">
                            <p class="artistkit--up__name text-white mb-0">
                                <%= album.name %>
                            </p>
                            <p class="artistkit--up__artist m-0">Album by
                                <a href="/artist/<%= album.artist.id %>" class="albumkit--up__artist">
                                    <%= album.artist.name %>
                                </a>
                            </p>
                            <p class="songcount m-0 p-0">
                                <%= albumsong.length %> songs
                            </p>
                        </div>
                        <div class="songkit--down mt-3">
                            <a>
                                <img class="icon--img mt-1" src="/image/icons/play-button.png" id="card--playicon">
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="container-fluid my-3 px-5">
                <table class="table text-white">
                    <tbody>
                        <% albumsong.forEach(function(albumsong){ %>
                            <tr class="shadows">
                                <th>
                                    <div class="d-flex">
                                        <span class="songorder d-block pt-4">
                                            <%= count %>
                                        </span>
                                        <% count++ %>
                                            <img class="songimg song--img__data" src="<%= albumsong.image %>">
                                            <a class="pt-4 text-white text-decoration-none  song--name__data"
                                                href="/song/<%= albumsong.id %>">
                                                <%= albumsong.name %>
                                            </a>
                                            <a class="pt-4 text-white text-decoration-none song--artist__data hidden"
                                            href="/song/<%= albumsong.id %>">
                                            <%= albumsong.artist.name %>
                                        </a>
                                    </div>
                                </th>
                                <td>
                                    <div class="option my-4 mx-2">
                                        <% if(!currentUser){ %>
                                            <a href="/login" class="text-decoration-none star-color">
                                              <i class="fa-solid fa-play"></i>
                                            </a>
                                            <% } else { %>
                                              <a>
                                                <i class="fa-solid fa-play" id="table--playicon"></i>
                                                <audio id="table--audio" preload="metadata">
                                                  <source src="<%= albumsong.source %>" type="audio/mp3">
                                                </audio>
                                              </a>
                                              <% } %>
                                        <% if(currentUser) { %>
                                            <% if(usersong.includes(albumsong.id)){ %>
                                          <form action="/user/unfavourite/<%= albumsong.id %>" method="post" class="d-inline">
                                              <button class="mx-3 bg-transparent border-0"> 
                                                <i class="fa-solid fa-star mx-3 starbg"></i>
                                              </button>
                                          </form>
                                          <% } else { %>
                                            <form action="/user/favourite/<%= albumsong.id %>" method="post" class="d-inline">
                                              <button class="mx-3 bg-transparent border-0"> 
                                                <i class="fa-solid fa-star mx-3"></i>
                                              </button>
                                          </form>
                                          <% } %>
                                          <% } else { %>
                                            <form action="/user/favourite/<%= albumsong.id %>" method="post" class="d-inline">
                                              <button class="mx-3 bg-transparent border-0"> 
                                                <i class="fa-solid fa-star mx-3"></i>
                                              </button>
                                          </form>
                                          <% } %>
                                          <div class="dropdown d-inline">
                                            <button class="btn btn-secondary dropdown bg-transparent border-0 toblock" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                                              <i class="fa-solid fa-ellipsis-vertical main-menu"></i>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                                              <li><a class="table--sub__menu dropdown-item">Add to queue</a></li>
                                            </ul>
                                          </div>
                                    </div>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
                <h1 class="text-white text-center">
                    <% if(count === 1){ %>
                      Album has no song record
                    <% } %>
                </h1>
            </div>

            <%- include("../partials/footer.ejs") %>