<%- include("../partials/header.ejs") %>
<% let count=1 %>
<% let countsong=0 %>
<div class="col pt-4">
    <div class="container-fluid">
        <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link" href="/song/remove">Songs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/artist/remove">Artists</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/album/remove">Albums</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/remove">User</a>
            </li>
        </ul>
        <table class="table text-white pt-4 text-center sortable">
          <thead>
            <tr>
              <th class="shadows tohide">#</th>
              <th class="shadows">
                Name
                <i class="fa-solid fa-sort"></i>
              </th>
              <th class="shadows tohide">
                Artist
                <i class="fa-solid fa-sort tohide"></i>
              </th>
              <th class="shadows tohide">
                Number of songs
                <i class="fa-solid fa-sort tohide"></i>
              </th>
            </tr>
          </thead>
          <tbody>
            <% allAlbum.forEach(function(allAlbum){ %>
              <tr class="shadows">
                <td class="pt-4 tohide">
                  <%= count %>
                </td>
                <% count++ %>
                <td>
                  <div class="d-flex">
                    <img class="songimg-admin" src="<%= allAlbum.image %>">
                    <p class="pt-4 mx-4 text-white text-decoration-none">
                      <%= allAlbum.name %>
                    </p>
                  </div>
                </td>
                <td>
                  <p class="pt-4 mx-4 text-white text-decoration-none tohide">
                    <%= allAlbum.artist.name %>
                  </p>
                </td>
                
                <td>
                  <p class="pt-4 mx-4 text-white text-decoration-none tohide">
                    <% allSong.forEach(function(allSong){ %>
                  <% if(allAlbum.name === allSong.album.name){ %>
                    <% countsong++ %>
                    <% } %>
                  <% }) %>
                  <%= countsong %>
                  <% countsong=0 %>
                  </p>
                </td>
                <td> 
                  <div class="pt-4 text-black">
                     <!-- Button trigger modal -->
                     <button type="button" class="btn btn-sm btn-outline-info" data-bs-toggle="modal"
                     data-bs-target="#edit<%= count %>">
                     Edit
                   </button>
                   <!-- Modal -->
                   <div class="modal fade text-start" id="edit<%= count %>" tabindex="-1"
                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                     <div class="modal-dialog modal-xl">
                       <div class="modal-content">
                         <div class="modal-header bg-info">
                           <h5 class="modal-title text-black" id="exampleModalLabel">Edit Album</h5>
                           <button type="button" class="btn-close" data-bs-dismiss="modal"
                             aria-label="Close"></button>
                         </div>
                         <div class="modal-body text-black text-left">
                           <form action="/album/<%= allAlbum._id %>?_method=PUT" method="POST"
                             enctype="multipart/form-data">
                             <div class="mb-3">
                               <label class="form-label">Album Name</label>
                               <input type="text" class="form-control" name="name" placeholder="<%= allAlbum.name %>"
                                 value="<%= allAlbum.name %>">
                             </div>
                             <div class="mb-3">
                               <label class="form-label">Artist</label>
                               <input type="text" list="artist" class="form-control" name="artist"
                                 placeholder="<%= allAlbum.artist.name %>" value="<%= allAlbum.artist.name %>"
                                 autocomplete="off">
                               <datalist id="artist">
                                 <% allArtist.forEach(function(allArtist){ %>
                                   <option class="list-group-item">
                                     <%= allArtist.name %>
                                   </option>
                                   <% }) %>
                               </datalist>
                             </div>
                             <div class="mb-3">
                               <label class="form-label">Image</label>
                               <img src="<%= allAlbum.image %>" class="pb-3" height="100px">
                               <input type="file" class="form-control" name="image" accept='image/*'>
                             </div>
                             <div class="modal-footer">
                               <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                               <button type="submit" class="btn btn-primary">Save changes</button>
                             </div>
                           </form>
                         </div>
                       </div>
                     </div>
                   </div>
                   <!-- Button trigger modal -->
                   <button type="button" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal"
                     data-bs-target="#delete<%= count %>">
                     Delete
                   </button>

                   <!-- Modal -->
                   <div class="modal fade" id="delete<%= count %>" tabindex="-1" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                     <div class="modal-dialog">
                       <div class="modal-content">
                         <div class="modal-header">
                           <h5 class="modal-title" id="exampleModalLabel">Do you want to delete this album?</h5>
                           <button type="button" class="btn-close" data-bs-dismiss="modal"
                             aria-label="Close"></button>
                         </div>
                         <div class="modal-footer">
                           <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                           <form action="/album/<%= allAlbum._id %>?_method=DELETE" method="post">
                             <button type="submit" class="btn btn-danger">Delete</button>
                           </form>
                         </div>
                       </div>
                     </div>
                   </div>
                  </div>
                </td>
              </tr>
            <% }) %>
          </tbody>
        </table>
    </div>
</div>

<%- include("../partials/LRfooter.ejs") %>